<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <title>CPQ Configuration</title>
  </head>
  <body>
    <form id="configuration_form" action="" accept-charset="UTF-8" autocomplete="off" method="post" target="_self">
      <input type="hidden" id="model" name="model" value=""><br/>
      <input type="hidden" id="product_line" name="product_line" value=""><br/>
      <input type="hidden" id="product_family" name="segment" value=""><br/>
      <input type="hidden" id="locale" name="_bm_session_locale" value=""><br/>
      <input type="hidden" id="currency" name="_bm_session_currency" value=""><br/>
      <input type="hidden" id="_from_partner" name="_from_partner" value="true"><br/>
      <input type="submit" id="configuration_submit" name="config_sub" value="Submit Configuration" style="visibility: hidden;"/>
    </form>
  </body>
</html>
