<div class="row">
        <img class="header-img img-responsive hidden-xs" alt="Packaging" title="Packaging" src="/file/general/Packaging@2x_banner.png">
        <img class="header-img img-responsive visible-xs" alt="Packaging" title="Packaging" src="/file/general/Mob_Packaging@2x.png">
    </div>