<div class="row">
        <img class="header-img img-responsive hidden-xs" alt="Energy Reduction" title="Energy Reduction" src="/file/general/Energy Reduction@2x.png">
        <img class="header-img img-responsive visible-xs" alt="Energy Reduction" title="Energy Reduction" src="/file/general/Mob_Energy Reduction@2x.png">
    </div>