<div class="row">
        <img class="header-img img-responsive hidden-xs" alt="Recycled Material" title="Recycled Material" src="/file/general/Recycled Material@2x.png">
        <img class="header-img img-responsive visible-xs" alt="Recycled Material" title="Recycled Material" src="/file/general/Mob_Recycled Material@2x.png">
    </div>