<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <title>CPQ Configuration</title>
  
                    <script>var w=window;if(w.performance||w.mozPerformance||w.msPerformance||w.webkitPerformance){var d=document;AKSB=w.AKSB||{},AKSB.q=AKSB.q||[],AKSB.mark=AKSB.mark||function(e,_){AKSB.q.push(["mark",e,_||(new Date).getTime()])},AKSB.measure=AKSB.measure||function(e,_,t){AKSB.q.push(["measure",e,_,t||(new Date).getTime()])},AKSB.done=AKSB.done||function(e){AKSB.q.push(["done",e])},AKSB.mark("firstbyte",(new Date).getTime()),AKSB.prof={custid:"932962",ustr:"",originlat:"0",clientrtt:"69",ghostip:"23.44.170.49",ipv6:false,pct:"10",clientip:"70.120.149.221",requestid:"6251dd4",region:"38939",protocol:"",blver:14,akM:"dscx",akN:"ae",akTT:"O",akTX:"1",akTI:"6251dd4",ai:"598297",ra:"false",pmgn:"",pmgi:"",pmp:"",qc:""},function(e){var _=d.createElement("script");_.async="async",_.src=e;var t=d.getElementsByTagName("script"),t=t[t.length-1];t.parentNode.insertBefore(_,t)}(("https:"===d.location.protocol?"https:":"http:")+"//ds-aksb-a.akamaihd.net/aksb.min.js")}</script>
                    </head>
  <body>
    <form id="configuration_form" action="" accept-charset="UTF-8" autocomplete="off" method="post" target="_self">
      <input type="hidden" id="model" name="model" value=""><br/>
      <input type="hidden" id="product_line" name="product_line" value=""><br/>
      <input type="hidden" id="product_family" name="segment" value=""><br/>
      <input type="hidden" id="locale" name="_bm_session_locale" value=""><br/>
      <input type="hidden" id="currency" name="_bm_session_currency" value=""><br/>
      <input type="hidden" id="_from_partner" name="_from_partner" value="true"><br/>
      <input type="submit" id="configuration_submit" name="config_sub" value="Submit Configuration" style="visibility: hidden;"/>
    </form>
  </body>
</html>
