<!--ko if: kogetBrandPageId()-->
<div id="categoryTitleContainer"  >
     <div class="row" id='category-title-txt' >
              <div class='col-xs-12 ' >
                  <!-- ko with: category -->
                   <div class='category-content-list'>
                           <h1 id="cc-product-listing-title" data-bind="text:displayName"></h1>
                    </div>
	     <!-- /ko -->
             </div>
     </div>
</div>

<!--/ko-->

