#WIDGET_ID-WIDGET_INSTANCE_ID {
    
	#nfd-desktop {
		sup {
			top: -1.5em!important;
			font-size: 29%!important;
		}
		.section1 {
			p {
				font-family: 'Roboto', sans-serif; 
				color: #6c6a6a !important;
				line-height: 23px !important;
				font-weight: bold;
				text-align: center;
			}
			.enter,
			.win {
				p {
					font-size: 15px;
					font-weight: 400;
					text-align: left;
					margin-top: 5px;
				}
			}
			.enter {
				a {
					&:hover {
						text-decoration: none!important;
					}
				}
				span {
					color: #f68b20;
					font-weight: bold;
					b {
						font-size: 16px;
					}
				}
			}
			.partyPack {
				position: absolute;
				max-width: 700px;
				top: -235px;
				left: -135px;
			}
		}
		.section2 {
			img {
				padding-top: 25px;
				margin: 0 auto;
			}
		}
		.section3 {
			p {
				font-family: 'Roboto', sans-serif;
				color: #6c6a6a !important;
				line-height: 23px !important;
				font-weight: 500;
				text-align: center;
				font-size: 17px!important;
			}
			.participating {
				margin: 0 auto;
			}
			.rightImage {
				img {
					position: absolute;
					top: -25px;
					left: -30px;
				}
			}
		}
		.section4 {
			.borderless {
				th {
					border-bottom: none!important;
					text-align: center;
					padding: 0;
					width: 200px;
				}
				td {
					text-align: center;
					border: none;
					padding: 0;
				}
				.head {
					font-weight: bold;
				}
			}
		}
		.section5 {
			img {
				padding-top: 25px;
				margin: 0 auto;
			}
		}
		.videoSection {
			background: #6d6e71;
			margin-bottom: 50px;
			.video-center {
				float: none;
				margin: 0 auto
			}
			h4 {
				margin: 0;
				color: #fff;
				text-transform: uppercase;
				font-weight: bold;
				font-family: 'Roboto', sans-serif;
				line-height: 1;
				font-size: 25px;
				padding-top: 25px;
			}
			p {
				margin: 0;
				font-family: 'Roboto', sans-serif;
				color: #fff !important;
				line-height: 20px !important;
				font-weight: 500;
				margin-top: 15px;
				font-size: 17px !important;
			}
			.videoDisplay {
				#productVideo {
					position: relative;
					img {
						margin: 0 auto;
					}
					.video-banner {
						&:hover {
							cursor: pointer;
						}
					}
					.play-icon {
						position: absolute;
						top: 45%;
						right: 48%;
						img {
							width: 40px;
							height: 40px;
							cursor: pointer;
						}
					}
				}
			}
		}
		/*@media screen and (max-width: 1270px) {
		.partyPack {
			max-width: 650px!important;
			top: -160px!important;
		}
		.videoSection {
			h4 {}
		}
	}*/
		@media only screen and (min-width: 768px) and (max-width: 1024px) {
		    .rightImage {
		        img{
		            top:0!important;
		        }
		    }
			.section1 {
				p {
					font-size: 14px !important;
					line-height: 21px !important;
				}
			}
			.partyPack {
				max-width: 340px !important;
				top: 85px !important;
				left: -90px !important;
			}
		}
		@media only screen and (min-width: 1030px) and (max-width: 1366px) {
			.partyPack {
				max-width: 500px !important;
				top: -25px !important;
				left: -115px!important;
			}
		}
		@media only screen and (min-width: 1370px) and (max-width: 1605px) {
			.partyPack {
				max-width: 600px !important;
				top: -125px !important;
				left: -115px!important;
			}
		}
		@media only screen and (min-width: 1605px) and (max-width: 1636px) {}
	}
	//Mobile
	#nfd-mobile {
		text-align: center;
		.para1,
		.para4, .para6, .para7, .para8 {
			font-family: 'Roboto', sans-serif;
			color: #6c6a6a !important;
			line-height: 21px !important;
			font-weight: bold;
			text-align: center;
			font-size: 14px!important;
			padding: 5px 5%;
		}
		.para2,
		.para3 {
			font-family: 'Roboto', sans-serif;
			color: #6c6a6a !important;
			line-height: 17px !important;
			font-weight: 400;
			text-align: center;
			margin-top: 5px;
			padding: 0 5%;
			font-size: 13px!important;
			margin-bottom: 0;
		}
		.para5 {
			font-family: 'Roboto',sans-serif;
            color: #6c6a6a !important;
            line-height: 16px !important;
            font-weight: 400;
            text-align: left;
            margin-top: 5px;
            padding: 0;
            font-size: 11px !important;
            margin-bottom: 10px;
		}
		.howDo {
			margin-bottom: 15px;
			font-size: 12px;
			&:hover {
				text-decoration: none!important;
			}
			span {
				color: #f68b20;
				font-weight: bold;
				b {
					font-size: 14px;
				}
			}
		}
		.borderless {
				th {
					border-bottom: none!important;
					text-align: center;
					padding: 0;
				}
				td {
					text-align: center;
					border: none;
					padding: 0;
				}
				.head {
					font-weight: bold;
				}
			}
			.videoDisplay {
				#productVideo {
					position: relative;
					img {
						margin: 0 auto;
					}
					.video-banner {
						&:hover {
							cursor: pointer;
						}
					}
					.play-icon {
						position: absolute;
						top: 45%;
						right: 48%;
						img {
							width: 40px;
							height: 40px;
							cursor: pointer;
						}
					}
				}
			}
	}

}

