<span data-bind="widgetLocaleText: 'addToSpaceProductUpdatedSuccessMsg'"></span>
<a data-bind="ccLink: successMessageSpaceIdLink">
  <span data-bind="widgetLocaleText: {value:'addToSpaceProductViewWishListMsg', attr:'innerText', params: {wishlistname: successMessageSpaceName()}}"></span>
</a>