#orderreturnrequestheader_v0-wi1100001 {
    .page-header {
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        border-bottom: 1px solid #51534a;
        color: #51534a;
        padding: 3px 4px;
        margin-bottom: 20px;
    }
}