<!--<div data-crl8-container-id="homepage"></div>-->
<div id="bvCurationWrap" >  
  <div data-bind="attr: { 'data-crl8-container-id': koDisplayProperty, 'data-crl8-auto-init': 'false' }"></div>
</div>