     <div class="main-banner">
      <!--ko with:category-->
      <!--ko if:categoryImages[0].path-->
       <img data-bind="attr: {src: '/file'+categoryImages[0].path}" class="img-responsive">
      <!-- /ko -->
      <!-- /ko -->
   </div>