#WIDGET_ID-WIDGET_INSTANCE_ID {
    #category-desciption{
        .plpCategoryDescription{
             h2{
             font-size: 36px;
                 }
                 
             }
        .show_hide{
             font-size: 16px !important;
            line-height: 1.4 !important;
            border-radius: 6px !important;
            color: #fff !important;
            text-decoration: none;
            text-transform: uppercase !important;
            letter-spacing: .02rem;
            padding-bottom: 22px;
            cursor: pointer;
            border: 1px solid transparent;
            white-space: nowrap;
            padding: 8px 12px;
            font-size: 18px;
            line-height: 2;
            background-color: #2654bf;
            white-space: normal;
            color: #fff;
            font-weight: normal;
            border-radius: 4px;
            text-transform: uppercase;
            height: 42px;
            font-weight: bold!important;
            width:180px;
            margin:0 auto;
            text-align: center;
        }
    }
 
 .categoryTable{
         //margin-bottom: 70px;
        .categoryTable-center{
            float: none;
            margin: 0 auto;
        }
        .title-txt{
            margin-top:0;
            font-size: 40px;
            line-height: 50px;
            color: #000;
            font-weight: 300;
            font-family: 'Nunito',sans-serif;
            text-align: center;
            margin-bottom: 20px;
        }
        .table-borderless{
                margin-bottom: 50px;
                width: 90%;
                margin: 0 auto;
                text-align: center;
          	       thead{
          	            tr{
          	          
          	            td{
          	                border-top:none;
          	                font-weight: 600 !important;
                            height: 100%;
                            text-transform: capitalize;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: 21px !important;
                            text-decoration: none;
                            margin-bottom: 15px;
                            outline: none;
                            line-height: 30px;
                            color: #000 !important;
                            letter-spacing: .02rem;  
                            font-family: 'Nunito',sans-serif;
                            &:hover{
          	                    color: #2854bf !important;
          	                }
          	            }
          	        }
          	       }
          	       
          	       
          	       
          	        tbody{
          	            tr{
          	                td{
          	                     border-top:none;
          	                    a{
          	                        font-size: 15px !important;
                                    text-transform: capitalize;
                                    font-family: 'Roboto',sans-serif !important;
                                    line-height: 18px;
                                    letter-spacing: .02rem;
                                    font-weight: 300 !important;
                                    text-decoration: none !important;
                                    color: #000;
                                    //padding: 5px;
                                    &:hover{
                                        color: #2654bf !important;
                                        text-decoration: none !important;
                                    }
          	                    }
          	                }
          	            }
          	        }
          	    
          	}
    }
 
 #categorydescriptionContainer{
     #category-desciption{
         border-top:1px solid #E5E3DF;
          padding: 50px 0px;
          div{
                font-family:@font-family-roboto;
                color: #000000 !important;
                font-size: 16px !important;
                line-height: 30px!important;
                font-weight: 300 !important;
                margin-bottom: 15px;
          }
          p{
                font-family:@font-family-roboto;
                color: #000000 !important;
                font-size: 16px !important;
                line-height: 30px!important;
                font-weight: 300 !important;
                margin-bottom: 15px;
          }
     }
 }   

@media only screen and (max-width:767px){
    .plpCategoryDescription{
            padding: 0px 15px !important;
            h2{
                font-size: 26px!important;
            }
    }
    .categoryTable{
           .categoryTable-center{
                 .title-txt{
                   font-size: 34px;
                    line-height: 42px;
               }
               .table-borderless{
                   width:100%!important;
                    thead{
                       tr{
                           td{
                               font-size: 14px !important;
                                   padding:0!important;
                           }
                       }
                   }
                   tbody{
                       tr{
                           td{
                               padding:0!important;
                               a{
                                   font-size: 10px !important;
                                   padding: 5px 0;
                               }
                           }
                       }
                   }
                  
               }
           }
       }
}

 @media only screen and (min-width:768px) and(max-width:1023px){
     .plpCategoryDescription{
            padding: 0px 15px !important;
            h2{
                font-size: 26px!important;
            }
    }
       .categoryTable{
           .categoryTable-center{
               .table-borderless{
                   width:100%;
                    thead{
                       tr{
                           td{
                               font-size: 16px !important;
                                   padding:0!important;
                           }
                       }
                   }
                   tbody{
                       tr{
                           td{
                                  padding: 5px 0;
                               a{
                                   font-size: 12px !important;
                                   
                               }
                           }
                       }
                   }
                   
               }
           }
       }
   }

}