
<div class="bvCurationWrap" >
    <!--<div  class="BVGalleryWrap"  data-bind="attr: {'id': koBVGalleryContainer()}"></div> -->
    <div data-bind="attr: { 'data-bv-show': 'curations', 'data-bv-widget': 'bv-carousel','data-bv-product-id': product().id }"></div>
</div>