
<!--<div class="bvCurationWrap" >
    <div data-bind="attr: {'data-crl8-container-id': koDisplayProperty, 'data-crl8-auto-init': 'false', 'data-crl8-filter': 'productId:' + koProductProperty()}"></div>
</div>-->

