
<div id="bvCurationWrap" >  
  <div data-bind="attr: {'data-crl8-container-id': koDisplayProperty,  'data-crl8-auto-init': 'false'}"></div>
        <div style="text-align: center;">
          <a data-bind="ccLink: {route: '/gallery'}"  class="redirectingLinkCuration hide">View Our Pet Gallery
          </a>
        </div>
</div>