<div class="row">
        <img class="header-img img-responsive hidden-xs" alt="Environmental Practices" title="Environmental Practices" src="/file/general/Our Environment@2x.png">
        <img class="header-img img-responsive visible-xs" alt="Environmental Practices" title="Environmental Practices" src="/file/general/Mob_Our environment@2x.png">
    </div>