#PetReDesignFreeShippingBarWidget_v1-wi2800024 {
  .petredeisgnshippingBar_wrapper{
      background-color:#000;
      padding:15px 0px;
      .petredesing-shippingBar{
             text-align: center;
          a{
                font-size: 14px;
                font-weight: 700;
                font-family: 'roboto';
                color: #fff;
                line-height: 18px;
                letter-spacing: 0.234px;
          }
      }
  }
}